# Optimisation in Machine Learning

    Ayush Abrol B20AI052

---

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import cvxopt as cp

## Question 1

In [2]:
q1_features = pd.read_csv('q1_features.csv', header=None)
q1_class = pd.read_csv('q1_class.csv', header=None)

In [4]:
q1_features.head()

          0         1
0  7.127313 -4.439442
1  6.688739 -2.448401
2 -1.100479 -7.784368
3  3.993379 -4.904513
4 -1.817162 -9.229099

In [5]:
features_cols = ['X1', 'X2']
q1_features.columns = features_cols
q1_features.head()

         X1        X2
0  7.127313 -4.439442
1  6.688739 -2.448401
2 -1.100479 -7.784368
3  3.993379 -4.904513
4 -1.817162 -9.229099

In [8]:
q1_class.head()

     0
0  1.0
1  1.0
2  0.0
3  1.0
4  0.0

In [9]:
q1_class_cols = ['Y']
q1_class.columns = q1_class_cols
q1_class.head()

     Y
0  1.0
1  1.0
2  0.0
3  1.0
4  0.0

In [11]:
q1_class = q1_class.replace(0, -1)
q1_class.head()

     Y
0  1.0
1  1.0
2 -1.0
3  1.0
4 -1.0

In [50]:
# Find SVM hyperplane
# Find the optimal hyperplane for the given data using cvxopt
# Input: X - features, Y - class labels

def svm(X, Y):
    # Number of training samples
    n = len(X)

    # Gram matrix
    P = cp.matrix(np.outer(Y, Y) * np.dot(X, X.T))

    # Vector q
    q = cp.matrix(-1 * np.ones(n))

    # Vector G
    G = cp.matrix(np.vstack((np.diag(np.ones(n) * -1), np.identity(n))))

    # Vector h
    h = cp.matrix(np.hstack((np.zeros(n), np.ones(n) * 100)))

    # Vector A
    A = cp.matrix(Y, (1, n))

    # Scalar b
    b = cp.matrix(0.0)

    # Solve QP problem
    sol = cp.solvers.qp(P, q, G, h, A, b)

    # Lagrange multipliers
    a = np.ravel(sol['x'])

    # Support vectors have non zero lagrange multipliers
    sv = a > 1e-5
    ind = np.arange(len(a))[sv]
    a = a[sv]
    sv_x = X[sv]
    sv_y = Y[sv]

    # Intercept
    b = 0
    for n in range(len(a)):
        b += sv_y[n]
        b -= np.sum(a * sv_y * np.dot(sv_x, sv_x[n].T))
    b /= len(a)

    # Weight vector
    w = np.zeros(len(X[0]))
    for n in range(len(a)):
        w += a[n] * sv_y[n] * sv_x[n]
        
    return w, b

In [51]:
w1, b1 = svm(q1_features.values, q1_class.values)
print(w1, b1)

     pcost       dcost       gap    pres   dres
 0:  1.1496e+02 -1.2697e+05  3e+05  3e-01  8e-13
 1:  4.4895e+02 -1.0201e+04  2e+04  2e-02  8e-13
 2:  3.0780e+02 -4.2284e+02  8e+02  2e-04  1e-13
 3:  4.8033e+01 -5.5238e+01  1e+02  4e-16  4e-14
 4:  6.5136e+00 -8.4040e+00  1e+01  2e-16  2e-14
 5:  7.7382e-01 -1.3518e+00  2e+00  2e-16  6e-15
 6:  2.8406e-02 -2.6479e-01  3e-01  2e-16  2e-15
 7: -5.4969e-02 -1.1112e-01  6e-02  2e-16  8e-16
 8: -8.2149e-02 -1.0207e-01  2e-02  2e-16  8e-16
 9: -9.5435e-02 -9.9728e-02  4e-03  1e-16  9e-16
10: -9.7151e-02 -9.7196e-02  5e-05  2e-16  1e-15
11: -9.7169e-02 -9.7169e-02  5e-07  2e-16  1e-15
12: -9.7169e-02 -9.7169e-02  5e-09  2e-16  1e-15
Optimal solution found.
[0.28846693 0.33335371] [-9.01152474]

## Question 2

In [33]:
q2_features = pd.read_csv('q2_features.csv', header=None)
q2_class = pd.read_csv('q2_class.csv', header=None)

In [34]:
q2_features.columns = features_cols
q2_class.columns = q1_class_cols

In [35]:
q2_class = q2_class.replace(0, -1)

In [36]:
q2_features.head()

         X1         X2
0 -0.247590  -2.270174
1 -0.622650   4.598032
2 -2.399450   4.404957
3 -1.774671  11.075097
4  0.182999  -4.315693

In [37]:
q2_class.head()

     Y
0 -1.0
1  1.0
2  1.0
3  1.0
4 -1.0

In [38]:
w2, b2 = svm(q2_features.values, q2_class.values)
print(w2, b2)

     pcost       dcost       gap    pres   dres
 0: -4.0882e+02 -3.9306e+05  1e+06  5e-01  1e-12
 1:  1.6738e+02 -4.7428e+04  8e+04  3e-02  1e-12
 2:  2.9179e+02 -9.6283e+02  2e+03  3e-04  3e-13
 3:  5.9260e+01 -6.9780e+01  1e+02  2e-06  3e-14
 4:  8.2449e+00 -1.0095e+01  2e+01  4e-16  2e-14
 5:  1.0490e+00 -1.5761e+00  3e+00  2e-16  9e-15
 6:  8.5973e-02 -2.8223e-01  4e-01  2e-16  3e-15
 7: -1.9825e-02 -1.0947e-01  9e-02  1e-16  1e-15
 8: -6.0470e-02 -1.0936e-01  5e-02  2e-16  8e-16
 9: -8.8768e-02 -9.6761e-02  8e-03  2e-16  7e-16
10: -9.1896e-02 -9.1990e-02  9e-05  2e-16  8e-16
11: -9.1934e-02 -9.1935e-02  9e-07  2e-16  9e-16
12: -9.1934e-02 -9.1934e-02  9e-09  2e-16  1e-15
Optimal solution found.
[-0.00940146  0.42869557] [-0.3259835]

## Question 3

In [39]:
q3_features = pd.read_csv('q3_features.csv', header=None)
q3_class = pd.read_csv('q3_class.csv', header=None)

In [40]:
q3_features.columns = features_cols
q3_class.columns = q1_class_cols

In [41]:
q3_class = q3_class.replace(0, -1)

In [42]:
q3_features.head()

         X1        X2
0  4.714218 -8.929404
1  5.435425 -9.951621
2  6.335768 -7.058583
3  7.752600 -9.071419
4  6.087396 -4.402894

In [43]:
q3_class.head()

     Y
0 -1.0
1 -1.0
2 -1.0
3 -1.0
4 -1.0

In [44]:
w3, b3 = svm(q3_features.values, q3_class.values)
print(w3, b3)

     pcost       dcost       gap    pres   dres
 0: -2.4023e+02 -2.6798e+05  6e+05  4e-01  2e-12
 1:  7.8433e+01 -2.2580e+04  4e+04  2e-02  3e-12
 2:  1.7076e+02 -1.7930e+03  3e+03  9e-04  5e-13
 3:  6.8355e+01 -8.7425e+01  2e+02  9e-06  4e-14
 4:  9.8529e+00 -1.1641e+01  2e+01  2e-16  3e-14
 5:  1.2957e+00 -1.7961e+00  3e+00  2e-16  1e-14
 6:  1.6574e-01 -3.6793e-01  5e-01  2e-16  4e-15
 7:  5.9082e-03 -2.4612e-01  3e-01  2e-16  2e-15
 8: -8.1589e-02 -2.5452e-01  2e-01  2e-16  2e-15
 9: -1.6515e-01 -1.7401e-01  9e-03  2e-16  3e-15
10: -1.6937e-01 -1.6946e-01  9e-05  2e-16  2e-15
11: -1.6941e-01 -1.6941e-01  9e-07  2e-16  2e-15
12: -1.6941e-01 -1.6941e-01  9e-09  2e-16  3e-15
Optimal solution found.
[-0.24313773  0.5288756 ] [2.22044605e-16]

---